@use "../variables" as v;
@use "../functions" as f;
@use "../helpers" as h;

/***************************
borders add, remove, width
***************************/
$border-sizes: (
  "default": v.$border-width-sm solid v.$border-default-color,
  "sm": v.$border-width-sm solid v.$border-default-color,
  "md": v.$border-width-md solid v.$border-default-color,
  "lg": v.$border-width-lg solid v.$border-default-color,
  "0": 0,
);

$complementary-property: (
  box-sizing: border-box,
);

@include f.set-classes(
  "border",
  "border",
  $border-sizes,
  h.$sides,
  false,
  $complementary-property
);

/****************
borders colors
****************/
@each $color, $value in v.$colors {
  .border-#{$color} {
    border-color: $value;
  }
}

/***************
borders radius
***************/
$radius-sizes: (
  "default": v.$border-radius-sm,
  "sm": v.$border-radius-sm,
  "md": v.$border-radius-md,
  "lg": v.$border-radius-lg,
  "0": 0,
);

@include f.set-classes(
  "radius",
  "border-radius",
  $radius-sizes,
  false,
  false,
  false
);

@each $corner-prefix, $corner-property in h.$corners {
  $prefix: "radius" + $corner-prefix;
  @include f.set-classes(
    $prefix,
    $corner-property,
    $radius-sizes,
    false,
    false,
    false
  );
}

.circle {
  border-radius: 50%;
}

.pill {
  border-radius: 50rem;
}
